{% extends 'base.html.twig' %}

{% block title %}Hello PasteController!
{% endblock %}

{% block body %}
<style>
	.example-wrapper {
		margin: 1em auto;
		max-width: 800px;
		width: 95%;
		font: 18px / 1.5 sans-serif;
	}
	.example-wrapper code {
		background: #F5F5F5;
		padding: 2px 6px;
	}
</style>
{% if form != null %}
	{% block form %}
		<div class="example-wrapper">
			{{ form(form) }}
			</div>
		{% endblock %}
	{% endif %}
	{% block list %}
		{% if list|length > 0 %}
			<div class="example-wrapper">
				<p>Public pastes</p>
				{% for item in list %}
					<a href="{{ path('show_paste', {slug: item.slug}) }}" role="button">{{ item.title }}</a>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}
	{% block list_private %}
		{% if list_private|length > 0 %}
			<div class="example-wrapper">
				<p>Private pastes</p>
				{% for item in list_private %}
					<a href="{{ path('show_paste', {slug: item.slug}) }}" role="button">{{ item.title }}</a>
				{% endfor %}
			</div>
		{% endif %}
	{% endblock %}
	{% if login != true %}
		{% block link %}
			<a href="{{ path('app_login') }}">Login</a>
		{% endblock %}
		{% block registration %}
			<a href="{{ path('app_register') }}">Registration</a>
		{% endblock %}
	{% else %}
		{% block logout %}
			<a href="{{ path('app_logout') }}">Logout</a>
		{% endblock %}
	{% endif %}
{% endblock %}
